.home__plus {
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  background: rgb(20, 153, 215);
  position: fixed;
  top: 0;
  color: white;
  border:none;
  cursor:pointer;
}

.home__results {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-top: 50px;
  padding: 20px;
  @media all and (min-width: 768px){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media all and (min-width: 1024px){
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.smiley  {
  justify-self: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  @media all and (min-width: 768px){
    width: 80px;
    height: 80px;
  }
}

.happy {
  background: rgb(255, 209, 0);
}

.sad {
  background: rgb(255, 59, 0);
  color: white;
}

.face {
  font-size: 40px;
  position: relative;
  top: 3px;
  left: 17px;
  @media all and (min-width: 768px){
    top: 13px;
    left: 27px;
  }
}